# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

tmp/
*.env
*.env.*

.idea/

*.test
*.exe
*.out
*.so
*.dSYM
/bin/
/obj/
/vendor/

.jetclient/*

qodana.yaml
/config/gcp-service-account.json
