name: Migrate Database

on:
  workflow_dispatch:  # Allows manual trigger from GitHub UI
  push:
    branches:
      - main
    paths:
      - 'db/migrations/**/*'


jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build Docker Image
        run: |
          docker build -t api-go-server:latest -f migrate.Dockerfile .  

      - name: Run Migrations
        run: |
          docker run --rm -e DATABASE_URL="${{ secrets.DATABASE_URL }}" api-go-server:latest up
